button.button {
	cursor: pointer;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 14px 24px;
	background-color: var(--blue);
	border-radius: 34px;
	font-size: 18px;
	font-weight: 400;
	transition: all 0.3s ease;
	border: 0;
	color: var(--white);
}

button.button:hover {
	background-color: var(--blue-hover);
}
