.header {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 580px) {
	.header {
		margin-top: 20px;
	}
	img.voiceloft {
		max-width: 160px;
	}
}

@media (max-width: 420px) {
	img.voiceloft {
		max-width: 120px;
	}
}
