.intro {
	margin-bottom: 100px;
	margin-top: 100px;
}

.intro h1 {
	font-size: 78px;
}

.home .intro,
.about .intro {
	text-align: center;
}

@media (max-width: 1200px) {
	.intro h1 br {
		display: none;
	}
}

@media (max-width: 780px) {
	.intro {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.intro h1 {
		font-size: 60px;
	}
}

@media (max-width: 580px) {
	.intro {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.intro h1 {
		font-size: 44px;
	}
}

@media (max-width: 420px) {
	.intro h1 {
		font-size: 40px;
	}
}
