.intro {
	margin-bottom: 100px;
	margin-top: 100px;
}

.intro h1 {
	font-size: 78px;
}

.home .intro,
.about .intro {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.intro {
		margin-top: 70px;
		margin-bottom: 50px;
	}

	.intro h1 {
		font-size: 52px;
	}
}
