.modal-form-body h2 {
	margin-bottom: 20px;
	font-size: 42px;
	font-weight: 500;
	text-align: center;
}

.modal-form-body p {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.modal-form-body form {
	margin-top: 40px;
}

.modal-form-body label {
	display: block;
	margin-bottom: 12px;
	font-weight: 400;
}

.modal-form-body input,
.modal-form-body select,
.modal-form-body button.button {
	display: block;
	width: 100%;
}

.modal-form-body input,
.modal-form-body select {
	height: 44px;
	margin-bottom: 20px;
	padding: 0 12px;
	border: 1px solid #d1d1d1;
	border-radius: 6px;
}

.modal-form-body select {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	appearance: none;
	background-position-x: 96%;
	background-position-y: center;
}

.modal-form-body button {
	margin: 40px auto 0;
	width: 100%;
	justify-content: center;
}
