.voice {
	position: relative;
	padding: 0;
	background-color: transparent;
	border: 0;
	border-radius: 80px 50px 50px 0;
	font-size: 20px;
	font-weight: 600;
	transition: all 0.3s ease;
	cursor: pointer;
	text-align: left;
}

.voice > div {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 12px;
	width: 100%;
	height: 100%;
	padding: 20px 24px;
	border-radius: 80px 50px 50px 0;
	overflow: hidden;
}

.voice:focus {
	outline: none;
}

.triangle {
	position: absolute;
	left: -1px;
	bottom: -15px;
	width: 23px;
	height: 17px;
}

.soundButton {
	position: relative;
	z-index: 6;
	flex-shrink: 0;
	padding: 9px;
	background-color: var(--white);
	border-radius: 100%;
	transition: 0.3s all ease;
}

.text {
	position: relative;
	z-index: 6;
}

.progress {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	display: inline-block;
	width: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 780px) {
	.voice {
		font-size: 18px;
	}

	.voice > div {
		gap: 10px;
		padding: 18px 20px;
	}
}

@media (max-width: 580px) {
	.voice {
		font-size: 16px;
	}

	.voice > div {
		gap: 10px;
		padding: 16px 18px;
		line-height: 1.2;
	}
}
