.upload-container {
	background-color: var(--white);
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	box-shadow: 0px 22px 29px rgba(0, 0, 0, 0.01);
}

.tab-buttons {
	display: flex;
	justify-content: space-between;
}

.tab-buttons button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-grow: 1;
	padding: 20px 100px;
	background-color: #f9f9f9;
	border: none;
	border-bottom: 1px solid #dcdcdc;
	color: #565656;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	transition: all 0.25s;
	cursor: pointer;
}

.tab-buttons button:nth-child(2) {
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}

.tab-buttons button.active {
	background-color: var(--white);
	transition: top 0.25s;
}

.tab-buttons button[disabled] {
	opacity: 0.3;
	cursor: not-allowed;
}

.tab-buttons button::before {
	content: '';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tab-buttons button.speech-record {
	border-top-left-radius: 10px;
}
.tab-buttons button.you-tube {
	border-top-right-radius: 10px;
}

.tab-buttons button.speech-record::before {
	background-image: url('../../assets/imgs/vectors/icons/speech-record.svg');
}

.tab-buttons button.file-import::before {
	background-image: url('../../assets/imgs/vectors/icons/file-import.svg');
}

.tab-buttons button.you-tube::before {
	background-image: url('../../assets/imgs/vectors/icons/you-tube.svg');
}

.tab-content {
	display: none;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	border-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.tab-content.active {
	display: flex;
}

.tab-content img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.tab-content h2 {
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 48px;
}

.tab-content p {
	max-width: 500px;
}

.tab-content button.action-button {
	justify-content: center;
	min-width: 260px;
	margin-top: 30px;
}

/* TODO: START: Move to different file */

.file-upload-progress {
	display: flex;
	align-items: center;
	gap: 50px;
	flex-direction: column;
	padding: 30px;
}

.file-upload-progress strong {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #000;
	font-size: 30px;
	font-weight: 500;
}

.file-upload-progress strong img {
	width: 42px;
	height: 42px;
	object-fit: contain;
}

.file-upload-progress button {
	display: inline-block;
	min-width: unset;
	margin-top: unset;
	padding: 0;
	background-color: transparent;
	border: 0;
	color: var(--blue);
	font-size: 26px;
	font-weight: 300;
	cursor: pointer;
	text-decoration: underline;
}

@import url('./ModalForm.css');

/*  */

.file-import-wrapper,
.speech-record-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 100px;
}

.file-import-wrapper {
	background-color: #f9fdff;
	border: 1px dashed #272ffb;
	border-radius: 10px;
}

em.timer {
	margin-top: 30px;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
}

.audio-result {
	width: 100%;
	margin-top: 30px;
}

.speech-record-wrapper .record-again {
	background-color: #d17272;
}
