.intro {
	text-align: center;
}
.intro h1 {
	font-weight: 400;
	font-size: 84px;
	line-height: 0.9;
	letter-spacing: -3.5px;
	color: #272ffb;
	background-color: white;
	padding-top: 100px;
	margin: 0px;
}
.intro p,
.about-percentage p {
	font-weight: 300;
	font-size: 27px;
	line-height: 150%;
	letter-spacing: 1px;
	color: #000;
}

.about-percentage {
	max-width: 730px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 105px;
}

.about-percentage p {
	padding-top: 60px;
}

.about-percentage h3 {
	padding-top: 42px;
	font-weight: 300;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.6px;
	color: #000;
	opacity: 0.9;
	width: 40%;
}

.about-info {
	background: #272ffb;
	position: relative;
	height: 1013px;
	overflow: hidden;
	display: flex;
}

.human {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 600px;
}

.waves {
}

.product {
	margin-top: 190px;
	margin-bottom: 150px;
	gap: 60px;
}

.product > div {
	display: flex;
	font-weight: 300;
	font-size: 26px;
	line-height: 131.1%;
	letter-spacing: 1px;
}
