.intro {
	background-color: white;
	padding-top: 100px;
	text-align: left;
}
.intro h1 {
	font-weight: 400;
	font-size: 84px;
	line-height: 90%;
	letter-spacing: -5.5px;
	color: #272ffb;
	padding-bottom: 30px;
	margin: 0px;
}
.intro p {
	font-weight: 300;
	font-size: 27px;
	line-height: 131.1%;
	letter-spacing: 1px;
	color: #000;
	width: 80%;
}

.contact > div {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.contact > div > div {
	display: flex;
	gap: 40px;
	align-items: center;
}

.contact h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 131.1%;
	letter-spacing: 1.07632px;
	color: #000;
	opacity: 0.3;
	margin: 0px;
}
.contact p {
	font-weight: 400;
	font-size: 26px;
	line-height: 131.1%;
}

