/* Intro section  */

section.intro {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.intro h1 {
	font-weight: 600;
	font-size: 84px;
	margin-bottom: 40px;
}

.intro p {
	font-size: 27px;
	line-height: 1.2;
}

section.speech-to-text {
	background: #000;
}
