.percentage {
	max-width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 105px;
}

.percentage svg {
	width: 80%;
	stroke-width: 0.5px;
	font-size: 170px;
	font-weight: 500;
}

.percentage p {
	margin-top: 40px;
	margin-bottom: 40px;
}

.percentage small {
	display: inline-block;
	font-size: 18px;
	line-height: 1.3;
	width: 40%;
}

@media only screen and (max-width: 780px) {
	.aboutSvg {
		height: auto;
	}

	.percentage small {
		font-size: 15px;
	}

	.percentage {
		margin-bottom: 50px;
	}
}

.info {
	background-color: var(--blue);
	position: relative;
	height: 1013px;
	overflow: hidden;
	display: flex;
}

.info p {
	font-size: 40px;
	color: #ffffff;
	padding-top: 160px;
	position: relative;
}

.info h1 {
	padding-top: 145px;
	padding-bottom: 120px;
	font-weight: 700;
	font-size: 207px;
	line-height: 80%;
	letter-spacing: -9px;
	color: #fafafa;
	position: relative;
}

.human {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 600px;
}

.waves {
	position: absolute;
	bottom: -930px;
	right: 350px;
	width: 3306px;
	height: 2956px;
}

@media only screen and (max-width: 780px) {
	.info {
		background-color: var(--blue);
		position: relative;
		height: 570px;
		overflow: hidden;
		display: flex;
	}

	.info p {
		font-size: 26px;
		color: #ffffff;
		padding-top: 50px;
		position: relative;
	}
	.info h1 {
		padding-top: 60px;
		padding-bottom: 0px;
		font-size: 52px;
		line-height: 90%;
		letter-spacing: -1px;
		position: relative;
	}
	.human {
		width: 280px;
		height: auto;
	}

	.waves {
		display: none;
	}
}

@media only screen and (max-width: 370px) {
	.info h1 {
		font-size: 38px;
	}
}

.product {
	margin-top: 190px;
	margin-bottom: 150px;
}

.product > div {
	display: flex;
	font-weight: 300;
	font-size: 26px;
	line-height: 131.1%;
	letter-spacing: 1px;
	gap: 60px;
}

.product p {
	max-width: 670px;
}

@media only screen and (max-width: 780px) {
	.product {
		margin-top: 70px;
		margin-bottom: 40px;
	}

	.product > div {
		flex-direction: column;
		gap: 30px;
	}
}
