.contact > div {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.contact > div > div {
	display: flex;
	gap: 40px;
	align-items: center;
}

.contact h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 1px;
	color: #000;
	opacity: 0.3;
	margin: 0px;
}

.contact p {
	font-weight: 400;
	font-size: 26px;
	line-height: 1.4;
}

@media (max-width: 780px) {
	.contactSvg {
		height: 150px;
	}

	.contact > div > div {
		gap: 30px;
	}

	.contact p {
		font-size: 18px;
	}
}
