/* Speech to text */

.stt a {
	display: inline-block;
	margin-top: 40px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: var(--blue);
}

/* NOTE: .section-wrapper-flex */
.speech-identification > div > div {
	display: grid;
	gap: 40px;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
}

.motto {
	margin-top: 100px;
	margin-bottom: 130px;
}

.motto h2 {
	letter-spacing: -2.4px;
	font-size: 80px;
	margin-bottom: unset;
}
