:root {
	--white: #fff;
	--black: #000;
	--blue: #272ffb;
	--blue-hover: #040deb;
	--theme-color: #231f20;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: 16px;
}

body {
	background-image: url('../assets/images/background.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 16px;
	font-weight: 300;
	background-position-y: -50px;
}

a {
	display: inline-flex;
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease;
}

h1,
h2 {
	line-height: 1.1;
	font-weight: 600;
	margin-bottom: 40px;
}

h2 {
	font-size: 64px;
}

p {
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.4px;
}

.section-wrapper-flex {
	display: flex;
}

.separator-svg {
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Intro */

.intro {
	margin-bottom: 100px;
	margin-top: 100px;
}

.intro h1 {
	font-size: 78px;
}

.home .intro,
.about .intro {
	text-align: center;
}

/*  */

.motto {
	margin-top: 50px;
	margin-bottom: 70px;
}

.motto h2 {
	font-size: 80px;
	font-weight: 600;
	letter-spacing: -2.78px;
	line-height: 88.1%;
	margin-bottom: unset;
}
