:root {
	--white: #fff;
	--black: #000;
	--blue: #272ffb;
	--blue-hover: #040deb;
	--theme-color: #231f20;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: 16px;
}

body {
	background-image: url('../assets/images/background.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 16px;
	font-weight: 300;
	background-position-y: -50px;
}

a {
	display: inline-flex;
	color: inherit;
	transition: all 0.3s ease;
	text-decoration: none;
}

h1,
h2 {
	margin-bottom: 40px;
	font-weight: 600;
	line-height: 1.1;
}

h2 {
	font-size: 64px;
}

p {
	font-size: 26px;
	line-height: 1.4;
	letter-spacing: 0.4px;
}

.section-wrapper-flex {
	display: flex;
}

.separator-svg {
	margin-bottom: 100px;
	margin-top: 100px;
	overflow: hidden;
}

/* Intro */

.intro {
	margin-bottom: 100px;
	margin-top: 100px;
}

.intro h1 {
	font-size: 78px;
}

.home .intro,
.about .intro {
	text-align: center;
}

.motto {
	margin-bottom: 130px;
	margin-top: 100px;
}

.motto h2 {
	margin-bottom: unset;
}

/* TODO: Move theses out of global.css file */

.upload-container {
	background-color: #ffffff;

	border: 1px solid #dcdcdc;
	border-radius: 10px;
	box-shadow: 0px 22px 29px rgba(0, 0, 0, 0.01);
}

.tab-buttons {
	display: flex;
	justify-content: space-between;
}

.tab-buttons button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-grow: 1;
	padding: 20px 100px;
	background-color: #f9f9f9;
	border: none;
	border-bottom: 1px solid #dcdcdc;
	color: #565656;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	cursor: pointer;
	transition: all 0.25s;
}

.tab-buttons button:nth-child(2) {
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}

/* ??not sure? */
.previousSibling {
	border-bottom-right-radius: 10px;
}

.tab-buttons button.active {
	background-color: #fff;
	top: -10px;
	transition: top 0.25s;
	border-bottom: none;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-bottom-right-radius: 0px;
}

.tab-buttons button.active + button {
	border-bottom-left-radius: 10px;
}

.tab-buttons button::before {
	content: '';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tab-buttons button.speech-record {
	border-top-left-radius: 10px;
}
.tab-buttons button.you-tube {
	border-top-right-radius: 10px;
}

.tab-buttons button.speech-record::before {
	background-image: url('../assets/icons/speech-record.svg');
}

.tab-buttons button.file-import::before {
	background-image: url('../assets/icons/file-import.svg');
}

.tab-buttons button.you-tube::before {
	background-image: url('../assets/icons/you-tube.svg');
}

.tab-content {
	display: none;
	align-items: center;
	flex-direction: column;
	padding: 100px;
	border: 1px solid #dcdcdc;
	border-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.tab-content.active {
	display: flex;
}

.tab-content img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.tab-content h2 {
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 48px;
}

.tab-content p {
	max-width: 500px;
}

.tab-content button {
	margin-top: 30px;
	min-width: 300px;
	justify-content: center;
}

/*  */

.ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 31px;
}
/*
.ellipsis > div {
	background-color: #fff;
	position: absolute;
	top: 10px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	text-align: center;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
 */

.ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 31px;
}

.ellipsis div {
	position: absolute;
	top: 10px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ellipsis div:nth-child(1) {
	left: 8px;
	animation: ellipsis1 0.6s infinite;
}
.ellipsis div:nth-child(2) {
	left: 8px;
	animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(3) {
	left: 32px;
	animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(4) {
	left: 56px;
	animation: ellipsis3 0.6s infinite;
}

@keyframes ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

/*  */

.progress {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.533);
}

.progress.active {
	animation-name: progress;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

/* (100 * 3) / 20 */
@keyframes progress {
	from {
		width: 7%;
	}
	to {
		width: 100%;
	}
}
