.footer {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.footer .section-wrapper-flex {
	justify-content: space-between;
	gap: 30px;
}

.footer .copyright-and-partners {
	display: flex;
	flex-direction: column;
}

.footer small {
	display: block;
	margin-bottom: auto;
	font-size: 18px;
	font-weight: 400;
	opacity: 0.5;
}

.footer .list {
	display: grid;
	grid-row-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.footer .link {
	display: flex;
	color: var(--black);
	font-size: 22px;
}

.footer .link:hover {
	color: var(--blue-hover);
}

.footer .list .link {
	display: inline-flex;
}

.footer .socials {
	display: flex;
	gap: 30px;
	margin-top: 30px;
}
