.footer {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	/* height: 100px; */
}

.footer nav {
	display: flex;
	justify-content: space-between;
}

.footer nav .list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.footer .link {
	color: var(--black);
	font-size: 24px;
	transition: all 0.3s ease;
}

.footer .link:hover {
	color: var(--blue-hover);
}

.footer .social {
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
}

.footer .social:hover {
	color: var(--blue-hover);
}

.footer small {
	display: inline-block;
	margin-top: 30px;
	opacity: 0.5;
	font-weight: 400;
}
