.footer {
	display: flex;
	align-items: center;
	height: 100px;
}

.footer nav {
	display: flex;
	justify-content: space-between;
}

.list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.link {
	color: var(--black);
	font-size: 24px;
	transition: all 0.3s ease;
}

.link:hover {
	color: var(--theme-color);
}

.social {
	display: flex;
	align-items: center;
}
